//
// F6A SETTINGS
//

// Foundation Colors

$bondi-blue: #008CBA; 		
$white-lilac: #E7E7E7; 	
$cinnabar: #F04124; 			
$cornflower: #A0D3E8; 				
$sea-green: #43AC6A;		
$carrot: #F08A24;
$slate: #2B303B; 		

// ZURBapp Colors
$dull-cyan: #3CADBF; // Influence
$inch-worm: #B8D30B; // Verify
$debian-red: #C9025C; // Solidify
$summer-heat: #FFB134; // Notable 

// Application Colors
$primary-color: $dull-cyan;
$secondary-color: $white-lilac;
$alert-color: $cinnabar;
$info-color: $cornflower;
$success-color: $sea-green;
$warning-color: $carrot;
$dark-color: $slate;

$dark-secondary-color: scale-color($secondary-color, $lightness: 80%);
$light-secondary-color: scale-color($secondary-color, $lightness: -20%);

// Grid
$fixed-top: 7.5rem;
$fixed-bottom: 80px;
// $fixed-left: false;
// $fixed-right: false;