.half.modal {
	transition: opacity 700ms ease, bottom 700ms ease;
	backface-visibility: hidden;
	background: rgba($white-lilac, 1);
	width: 100%;
	position: absolute;
	z-index: 1;
	opacity: 0;
	background: #FFF;
	height:0;
	height: 50vh;
	bottom:-50vh;
	display: block;
	&.animated {
		opacity: 1;
		bottom: 0;
	}
}